In [21]:
# MovieLens Data Set을 이용( numpy할때 실습한 문제 )
# 1. 사용자가 평가한 모든 영화의 전체의 평균 평점
# 2. 각 사용자별 평균 평점
# 3. 각 영화별 평균 평점
# 4. 가장 평균 평점이 높은 영화의 제목은? (모두 출력)
# 5. comedy영화 중 평점이 가장 낮은 영화의 제목?
# 6. 2015년도에 평가된 모든 Romance 영화의 평균 평점은?
#    timestamp : 1970년 1월 1일 0시 1초 -> 1
# 7. 2014년도에 평가된 Action영화의 평점을 기준으로 
#    상위 10위까지의 영화 제목 출력

In [22]:
#모듈 가져오기
import numpy as np
import pandas as pd

In [23]:
#CSV파일을 DataFrame으로 읽어오기. 

ratings_df = pd.DataFrame(pd.read_csv("./Data/Movie/ratings.csv"))
display(ratings_df.head())
movies_df = pd.DataFrame(pd.read_csv("./Data/Movie/movies.csv"))
display(movies_df.head())

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [24]:
# 1. 사용자가 평가한 모든 영화의 전체의 평균 평점
ratings_df["rating"].mean()

3.501556983616962

In [25]:
# 2. 각 사용자별 평균 평점
u_dict = {}

for i in ratings_df["userId"].unique():
    ID_ratings = pd.DataFrame(ratings_df.loc[ratings_df["userId"] == i]) #값이 i 인 userId
    ID_ratings["rating"].mean()
    u_dict[i] = ID_ratings["rating"].mean()
pd.Series(u_dict)

1      4.366379
2      3.948276
3      2.435897
4      3.555556
5      3.636364
6      3.493631
7      3.230263
8      3.574468
9      3.260870
10     3.278571
11     3.781250
12     4.390625
13     3.645161
14     3.395833
15     3.448148
16     3.724490
17     4.209524
18     3.732072
19     2.607397
20     3.590909
21     3.260722
22     2.571429
23     3.648760
24     3.650000
25     4.807692
26     3.238095
27     3.548148
28     3.020175
29     4.141975
30     4.735294
         ...
581    4.375000
582    4.026786
583    3.294643
584    4.108434
585    4.336066
586    4.365385
587    3.975758
588    3.250000
589    4.025000
590    3.355769
591    3.277778
592    3.585106
593    3.266990
594    3.924569
595    4.200000
596    3.495134
597    3.977427
598    3.809524
599    2.642050
600    2.991481
601    4.425743
602    3.392593
603    3.507953
604    3.480000
605    3.210407
606    3.657399
607    3.786096
608    3.134176
609    3.270270
610    3.688556
Length: 610, dtype: float64

In [26]:
# 3. 각 영화별 평균 평점
m_dict = {}

for i in ratings_df["movieId"].unique():
    MV_ratings = pd.DataFrame(ratings_df.loc[ratings_df["movieId"] == i]) #값이 i 인 userId
    MV_ratings["rating"].mean()
    m_dict[i] = MV_ratings["rating"].mean()
m_df = pd.DataFrame.from_dict( m_dict, orient='index', columns = ["R_mean"])
m_df.index.name = "movieId"
m_df.dropna(how = "any", inplace=True) 
m_df

           R_mean
movieId
1        3.920930
3        3.259615
6        3.946078
47       3.975369
50       4.237745
70       3.509091
101      3.782609
110      4.031646
151      3.545455
157      2.863636
163      3.560606
216      3.326531
223      3.855769
231      3.060150
235      3.678571
260      4.231076
296      4.197068
316      3.375000
333      3.780000
349      3.604545
356      4.164134
362      3.529412
367      3.184713
423      2.850000
441      3.928571
457      3.992105
480      3.750000
500      3.388889
527      4.225000
543      3.317073
...           ...
129313   4.000000
130050   3.000000
130052   3.500000
130840   4.500000
133832   3.500000
135534   3.500000
135803   3.500000
135815   4.000000
138610   1.500000
138632   5.000000
139511   3.000000
139655   3.000000
140267   4.000000
141400   4.000000
141799   3.500000
142366   3.000000
142598   4.000000
145951   0.500000
146309   4.000000
147657   4.000000
147662   3.000000
148166   3.500000
149011   3.500000
152372   3.500000
158721   3.500000
160341   2.500000
160527   4.500000
160836   3.000000
163937   3.500000
163981   3.500000

[9724 rows x 1 columns]

In [94]:
# 4. 가장 평균 평점이 높은 영화의 제목은? (모두 출력)
R_df = pd.merge(movies_df,m_df,left_on="movieId", right_index = True, how ="inner")
R_df.loc[R_df["R_mean"] == R_df["R_mean"].max(),["title","R_mean"]]

                                                  title  R_mean
48                                      Lamerica (1994)     5.0
87                 Heidi Fleiss: Hollywood Madam (1995)     5.0
121                    Awfully Big Adventure, An (1995)     5.0
405                              Live Nude Girls (1995)     5.0
432   In the Realm of the Senses (Ai no corrida) (1976)     5.0
433                         What Happened Was... (1994)     5.0
531           Thin Line Between Love and Hate, A (1996)     5.0
536                              Denise Calls Up (1995)     5.0
666      Supercop 2 (Project S) (Chao ji ji hua) (1993)     5.0
865   Entertaining Angels: The Dorothy Day Story (1996)     5.0
870                                 Lesson Faust (1994)     5.0
1006                                       Hype! (1996)     5.0
1037  Vampire in Venice (Nosferatu a Venezia) (Nosfe...     5.0
1228                             Assignment, The (1997)     5.0
1311  Four Days in September (O Que É Isso, Companhe...     5.0
1540                                    Mephisto (1981)     5.0
1647                                   Knock Off (1998)     5.0
1889  Ballad of Narayama, The (Narayama bushiko) (1983)     5.0
2125                                On the Ropes (1999)     5.0
2234  Man and a Woman, A (Un homme et une femme) (1966)     5.0
2237                Red Sorghum (Hong gao liang) (1987)     5.0
2319                              Sandpiper, The (1965)     5.0
2329                            Babes in Toyland (1934)     5.0
2338                              My Man Godfrey (1957)     5.0
2480  Black Tar Heroin: The Dark End of the Street (...     5.0
2597  Jonah Who Will Be 25 in the Year 2000 (Jonas q...     5.0
2611                            Madame Sousatzka (1988)     5.0
2639                All the Vermeers in New York (1990)     5.0
2665                                  Bossa Nova (2000)     5.0
2711                 Vagabond (Sans toit ni loi) (1985)     5.0
...                                                 ...     ...
9423      Alesha Popovich and Tugarin the Dragon (2004)     5.0
9427                          Junior and Karlson (1968)     5.0
9443                         I Am Not Your Negro (2017)     5.0
9495                           A Plasticine Crow (1981)     5.0
9498                        There Once Was a Dog (1982)     5.0
9518                  Death Note: Desu nôto (2006–2007)     5.0
9536                Last Year's Snow Was Falling (1983)     5.0
9537               Investigation Held by Kolobki (1986)     5.0
9538                             Karlson Returns (1970)     5.0
9539                 Vacations in Prostokvashino (1980)     5.0
9540                    Winter in Prostokvashino (1984)     5.0
9542           Priklyucheniya Kapitana Vrungelya (1979)     5.0
9543                             Tickling Giants (2017)     5.0
9544        Vovka in the Kingdom of Far Far Away (1965)     5.0
9546                           A Detective Story (2003)     5.0
9549                                 Cheburashka (1971)     5.0
9560                        Wow! A Talking Fish! (1983)     5.0
9561                           Travels of an Ant (1983)     5.0
9563                                   Fugitives (1986)     5.0
9568                                     Empties (2007)     5.0
9575                                   Obsession (1965)     5.0
9583                          Gena the Crocodile (1969)     5.0
9585   On the Trail of the Bremen Town Musicians (1973)     5.0
9586         In the blue sea, in the white foam. (1984)     5.0
9588                       Bobik Visiting Barbos (1977)     5.0
9611                                       Black Mirror     5.0
9633                              Loving Vincent (2017)     5.0
9634                              Blue Planet II (2017)     5.0
9688                            De platte jungle (1978)     5.0
9711                   Won't You Be My Neighbor? (2018)     5.0

[296 rows x 2 columns]

In [28]:
# 5. comedy영화 중 평점이 가장 낮은 영화의 제목?
Comedy = R_df[R_df["genres"].str.contains("Comedy",na= False)]
Comedy.loc[Comedy["R_mean"]==Comedy["R_mean"].min()]

,movieId,title,genres,R_mean
3933,5530.0,Simone (S1m0ne) (2002),Comedy|Drama|Fantasy|Sci-Fi,0.5
4051,5767.0,Teddy Bear (Mis) (1981),Comedy|Crime,0.5
4580,6804.0,Crimewave (1985),Comedy|Crime,0.5
4750,7074.0,"Navigator, The (1924)",Comedy,0.5
5105,8121.0,"Seducing Doctor Lewis (Grande séduction, La) (...",Comedy,0.5
5356,8933.0,"Decline of the American Empire, The (Déclin de...",Comedy|Drama,0.5
5672,27674.0,11:14 (2003),Comedy|Crime|Drama|Mystery|Thriller,0.5
5700,27790.0,Millions (2004),Children|Comedy|Crime|Drama|Fantasy,0.5
5771,31297.0,Gold Diggers of 1935 (1935),Comedy|Musical,0.5
7636,87834.0,My Life as McDull (Mak dau goo si) (2001),Animation|Comedy|Drama,0.5
8136,101765.0,"Perfect Plan, A (Plan parfait, Un) (2012)",Adventure|Comedy|Romance,0.5
8236,104218.0,Grown Ups 2 (2013),Comedy,0.5
8494,113394.0,"Pretty One, The (2013)",Comedy|Drama,0.5

In [92]:
# 6. 2015년도에 평가된 모든 Romance 영화의 평균 평점은?
#    timestamp : 1970년 1월 1일 0시 1초 -> 1
import time
# ts = time.gmtime(964982703)
# time.strftime("%Y",ts)
y_dict = {}
for item in ratings_df["timestamp"]:
    ts = time.gmtime(item)
    result = time.strftime("%Y",ts)
    y_dict[item] = result
    
y_df = pd.DataFrame.from_dict(y_dict, orient = 'index', columns =["year"])
y_df.index.name = "timestamp"
R2_df = pd.merge(ratings_df,y_df,left_on="timestamp", right_index = True, how ="inner")
M_2015 = R2_df.loc[R2_df["year"]=="2015",["movieId","year","rating"]]

Romance = movies_df[movies_df["genres"].str.contains("Romance",na= False)]

R3_df = pd.merge(M_2015,Romance,left_on="movieId", right_index = True, how ="inner")

R3_df["rating"].mean()

3.588495575221239

In [113]:
# 7. 2014년도에 평가된 Action영화의 평점을 기준으로 
#    상위 10위까지의 영화 제목 출력

y_dict = {}
for item in ratings_df["timestamp"]:
    ts = time.gmtime(item)
    result = time.strftime("%Y",ts)
    y_dict[item] = result
    
y_df = pd.DataFrame.from_dict(y_dict, orient = 'index', columns =["year"])
y_df.index.name = "timestamp"
R4_df = pd.merge(ratings_df,y_df,left_on="timestamp", right_index = True, how ="inner")
M_2014 = R2_df.loc[R2_df["year"]=="2014",["movieId","year","rating"]]

Action = movies_df[movies_df["genres"].str.contains("Action",na= False)]
R5_df = pd.merge(M_2014,Action,left_on="movieId", right_index = True, how ="inner")
top_10 = R5_df.sort_values(by=["rating"], ascending=False).copy()
top_10.iloc[0:10][["title","rating","year","genres"]]

,title,rating,year,genres
29812,Surrogates (2009),5.0,2014,Action|Sci-Fi|Thriller
56117,Never Back Down (2008),5.0,2014,Action
56103,Teenage Mutant Ninja Turtles II: The Secret of...,5.0,2014,Action|Children|Fantasy
56093,Money Talks (1997),5.0,2014,Action|Comedy
83365,Spy Game (2001),5.0,2014,Action|Crime|Drama|Thriller
29803,Spy Game (2001),5.0,2014,Action|Crime|Drama|Thriller
38130,Virtuosity (1995),5.0,2014,Action|Sci-Fi|Thriller
29783,Virtuosity (1995),5.0,2014,Action|Sci-Fi|Thriller
88719,Escape from New York (1981),5.0,2014,Action|Adventure|Sci-Fi|Thriller
83360,Teenage Mutant Ninja Turtles II: The Secret of...,5.0,2014,Action|Children|Fantasy